/*  SOMATYPUS FILTERING NEXTFLOW CONFIG
    This is a place to set all the options relating to how the jobs run on
    the compute cluster. The file is initially set up with reasonable defaults
    for running on the LSF cluster used by the Sanger.

    See https://www.nextflow.io/docs/latest/config.html for more information.
*/

/*  Sanger's LSF setup requires that perJobMemLimit be set to true */
executor {
    perJobMemLimit = true
    queueSize = 200 /* max LSF jobs that can run concurrently */
}

/*  Set singularity.enabled and .autoMounts to true to use Singularity
    containers. Not required otherwise. Other container engines will use
    their own scopes, e.g. docker{ ... }, podman{ ... }, etc.
*/
singularity {
    enabled = true
    autoMounts = true
}

/*  The process scope sets the specific parameters for each job. Options set
    at the base level of the block are applied to all processes.
    Individual processes can be given their own sub-scopes using withName and
    withLabel directives. For example, the genotype-...-allele1 jobs will
    almost certainly run on bigger data sets than the other genotyping jobs,
    so they can be set up to use more resources.
*/
process {
    /* If using Cram file inputs, set the container's REF_PATH to whatever the 
       `sanger-samtools-refpath` module gives you, otherwise there may be
       errors trying to decode reads. */

    container = 'container/snv_analysis_pipeline.sif'
    containerOptions = '--no-home'
    executor = 'lsf'
    cpus = 1
    memory = 16.GB
    time = 8.h

    withName:genotype_low_cov_hosts {
        container = 'container/somatypus-dev.sif'
        containerOptions = '-B /lustre:/lustre -B /nfs:/nfs --env REF_PATH=/lustre/scratch125/core/sciops_repository/cram_cache/%2s/%2s/%s:/lustre/scratch126/core/sciops_repository/cram_cache/%2s/%2s/%s:URL=http:://refcache.dnapipelines.sanger.ac.uk::8000/%s'
        executor = 'lsf'
        cpus = 4
        memory = 16.GB
        time = 8.h
    }

    withName:filter_variants {
        memory = 32.GB
        time = 12.h
    }

    withName:vafhist_spectra {
        memory = 32.GB
        time = 12.h
    }

    withName:run_vep {
        container = '/nfs/dog_n_devil/kevin/containers/vep_104.sif'
        containerOptions = '--no-home -B /nfs/dog_n_devil/kevin/.vep:/cache'
        memory = 16.GB
        time = 12.h
    }

    withLabel:raxml {
        cpus = 8
        memory = 16.GB
        time = 48.H
        queue = 'long'
    }

}

